// !CLASS COLORS/GRADIENTS
$barbarian: #e7623e;
$barbarian-g: linear-gradient(
	350deg,
	rgba(157, 38, 5, 1) 0%,
	rgba(231, 98, 62, 1) 51%,
	rgba(255, 191, 173, 1) 100%
);
$bard: #ab6dac;
$bard-g: linear-gradient(
	350deg,
	rgba(145, 5, 157, 1) 0%,
	rgba(171, 109, 172, 1) 50%,
	rgba(255, 173, 237, 1) 100%
);
$cleric: #91a1b2;
$cleric-g: linear-gradient(
	350deg,
	rgba(5, 95, 157, 1) 0%,
	rgba(145, 161, 178, 1) 50%,
	rgba(173, 204, 255, 1) 100%
);
$druid: #7a853b;
$druid-g: linear-gradient(
	350deg,
	rgba(131, 157, 5, 1) 0%,
	rgba(122, 133, 59, 1) 50%,
	rgba(237, 255, 173, 1) 100%
);
$fighter: #7f513e;
$fighter-g: linear-gradient(
	350deg,
	rgba(157, 56, 5, 1) 0%,
	rgba(127, 81, 62, 1) 50%,
	rgba(255, 195, 173, 1) 100%
);
$monk: #51a5c5;
$monk-g: linear-gradient(
	350deg,
	rgba(5, 120, 157, 1) 0%,
	rgba(81, 165, 197, 1) 50%,
	rgba(173, 217, 255, 1) 100%
);
$paladin: #b59e54;
$paladin-g: linear-gradient(
	350deg,
	rgba(157, 117, 5, 1) 0%,
	rgba(181, 158, 84, 1) 50%,
	rgba(255, 238, 173, 1) 100%
);
$ranger: #507f62;
$ranger-g: linear-gradient(
	350deg,
	rgba(5, 157, 66, 1) 0%,
	rgba(80, 127, 98, 1) 50%,
	rgba(173, 255, 206, 1) 100%
);
$rogue: #555752;
$rogue-g: linear-gradient(
	350deg,
	rgba(58, 61, 59, 1) 0%,
	rgba(85, 87, 82, 1) 50%,
	rgba(199, 191, 191, 1) 100%
);
$sorcerer: #992e2e;
$sorcerer-g: linear-gradient(
	350deg,
	rgba(66, 27, 27, 1) 0%,
	rgba(153, 46, 46, 1) 50%,
	rgba(222, 46, 46, 1) 100%
);
$warlock: #7b469b;
$warlock-g: linear-gradient(
	350deg,
	rgba(40, 27, 66, 1) 0%,
	rgba(123, 70, 155, 1) 50%,
	rgba(205, 118, 255, 1) 100%
);
$wizard: #2a50a1;
$warlock-g: linear-gradient(
	350deg,
	rgba(27, 40, 66, 1) 0%,
	rgba(42, 80, 161, 1) 50%,
	rgba(118, 158, 255, 1) 100%
);
